{% extends "base.html" %}
{% load i18n %}

{% block title %}Add New Rental Unit{% endblock title %}

{% block content %}

<h1>{% trans 'Add new unit' %}</h1>
<div class="unit unit-form">
    <form method="post" enctype="multipart/form-data" id="unit_form">
        {% csrf_token %}
        <table id="unit_form_table">
            {{ form.as_table }}
        </table>
        <button id="unit_form_submit">{% trans "Submit" %}</button>
        <a href="{% url 'unit-list' %}">{% trans "Cancel" %}</a>
    </form>
    <span id="status"></span>
</div>

{% endblock %}