{% extends "base.html" %}

{% load i18n %}
{% load model_strings %}

{% block content %}

<h1>{% trans 'Your rental units' %}</h1>

<div class="units">
    {% for u in unit_list %}
        <div class="unit">
            <div class="unit-info">
                <h3><a href="{% url 'unit-detail' u.slug %}">{{ u.unit_address_1 }}</a></h3>
<!--            <a href="{% url 'unit-detail' u.slug %}" class="unit-edit">{% trans 'Edit Details' %}</a>-->
                {% if u.unit_city or u.unit_state or u.unit_zip_code %}
                    <div class="address-info">
                        {% field_name model 'unit_city' %}: {{ u.unit_city }}<br>
                        {% field_name model 'unit_state' %}: {{ u.unit_state }}<br>
                        {% field_name model 'unit_zip_code' %}: {{ u.unit_zip_code }}<br>
                    </div>
                {% endif %}
                {% if u.pictures %}
                    <h4>{% trans 'Pictures' %}</h4>
                    <div class="images">
                        {% for i in u.pictures %}
                            <img src="{{ i.thumbnail }}" alt="Picture uploaded {{ i.upload_time }}">
                        {% endfor %}
                    </div>
                {% endif %}

                {% if u.documents %}
                    <h4>{% trans 'Documents' %}</h4>
                    <div class="images">
                        {% for i in u.documents %}
                            <img src="{{ i.thumbnail }}" alt="Document uploaded {{ i.upload_time }}">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="unit-actions">
                <div class="unit-upload-images">
                    <a href="{% url 'unit-add-documents' u.slug %}">{% trans 'Add Documents' %}</a><br>
                    <a href="{% url 'unit-add-move-in-pictures' u.slug %}">{% trans 'Add Move-in Pictures' %}</a><br>
                    <a href="{% url 'unit-add-move-out-pictures' u.slug %}">{% trans 'Add Move-out Pictures' %}</a><br>
                </div>

<!--                <a href="{% url 'unit-delete' u.slug %}" class="unit-delete">{% trans 'Delete' %}</a><br>-->
            </div>
        </div>
    {% empty %}
        <p>{% trans 'You have not created any rental units.' %}</p>
    {% endfor %}
</div>

<a href="{% url 'unit-create' %}" class="new-unit-button">Add new unit</a>

{% endblock %}