{% extends "base.html" %}

{% load cache %}
{% load i18n %}

{% block title %}Unit at {{ object.unit_address_1 }}{% endblock title %}

{% block content %}

<h1>{% trans 'Unit information' %}</h1>

    <a class="button" href="{% url 'unit-list' %}">{% trans '← All units' %}</a>

    <div class="unit content-body">
        <h3>{{ object.unit_address_1 }}</h3>

            <div class="unit-info">
                <h4>{% trans 'Your unit' %}</h4>
                {{ object.unit_address_1 }}<br>
                {% if object.unit_address_2 %}
                    {{ object.unit_address_2 }}<br>
                {% endif %}
                {% if object.unit_city and object.unit_state %}
                    {{ object.unit_city }}, {{ object.unit_state }}
                {% elif object.unit_city %}
                    {{ object.unit_city }}
                {% elif object.unit_state %}
                    {{ object.unit_state }}
                {% endif %}
                {{ object.unit_zip_code }}
            </div>

            <div class="landlord-info">
                <h4>{% trans 'Landlord info' %}</h4>
                {% if object.landlord_address_1 %}
                    {{ object.landlord_address_1 }}<br>
                {% endif %}
                {% if object.landlord_address_2 %}
                    {{ object.landlord_address_2 }}<br>
                {% endif %}
                {% if object.landlord_city and object.landlord_state %}
                    {{ object.landlord_city }}, {{ object.landlord_state }}
                {% elif object.landlord_city %}
                    {{ object.landlord_city }}
                {% elif object.landlord_state %}
                    {{ object.landlord_state }}
                {% endif %}
                {{ object.landlord_zip_code }}
                {% if object.landlord_phone_number %}
                    <br>{{ object.landlord_phone_number }}
                {% endif %}

                {% if not object.has_landlord_into %}
                    {% trans 'You have not provided any landlord info' %}
                {% endif %}
            </div>

            <div class="lease-info">
                <h4>{% trans 'Lease info' %}</h4>

                {% if object.lease_start_date %}
                    {% trans 'Lease start date' %}<br>
                    {{ object.lease_start_date|date:"SHORT_DATE_FORMAT" }}<br>
                {% endif %}

                {% if object.lease_end_date %}
                    {% trans 'Lease end date' %}<br>
                    {{ object.lease_end_date|date:"SHORT_DATE_FORMAT" }}<br>
                {% endif %}


                {% if object.lease_end_date %}
                    {% trans 'Rent due date' %}<br>
                    {{ object.rent_due_date|date:"SHORT_DATE_FORMAT" }}<br>
                {% endif %}

                {% if not object.has_lease_into %}
                    {% trans 'You have not provided any lease info' %}
                {% endif %}
            </div>

        {% cache CACHE_TIMEOUT "unit_images_pictures_by_type_unit_" object.id object.modified_at %}
            <div class="images unit-detail">
                {% include "fragments/move-in-pictures.html" with unit=object %}
                {% include "fragments/move-out-pictures.html" with unit=object %}
                {% include "fragments/document-pictures.html" with unit=object %}
            </div>
        {% endcache %}

        <a class="button" href="{% url 'unit-edit' object.slug %}">{% trans 'Edit Unit Info' %}</a><br>
        <a class="button delete" href="{% url 'unit-delete' object.slug %}" class="unit-delete">{% trans 'Delete Unit' %}</a><br>
    </div>

{% endblock %}