{% extends "base.html" %}
{% load i18n %}

{% block title %}Add Image/Document - {{ form.unit.unit_address_1 }}{% endblock title %}

{% block content %}

<div id="unit-add-image">
    <h2>{% trans 'Add' %} {{form.label}}</h2>

    {% if form.max_images > form.current_image_count %}
        <form method="post" enctype="multipart/form-data" id="unit-add-image-form">
            {% csrf_token %}
            <table id="unit-form-table">
                {{ form.as_table }}
            </table>
            <span id="multi-instructions">{% trans 'To select multiple pictures, hold down the Ctrl or Command (⌘) key when clicking files' %}</span>
            <span id="remaining">{% trans 'You have uploaded'%} {{form.current_image_count}} {% trans 'of'%} {{form.max_images}} {% trans 'allowed images' %}.</span>
            <button id="unit-form-submit">{% trans "Submit" %}</button>
            <a href="{% url 'unit-list' %}">{% trans "Cancel" %}</a>
        </form>
        <progress id="status-bar"></progress>
        <span id="status"></span>
    {% else %}
        <span id="remaining-error">{% trans 'You have uploaded'%} {{form.current_image_count}} {% trans 'of'%} {{form.max_images}} {% trans 'allowed images' %}.</span>
        <a href="{% url 'unit-list' %}" onclick="goBack();" class="button">{% trans "Go back" %}</a>
    {% endif %}


</div>
<script src="https://cdn.jsdelivr.net/npm/screw-filereader@1.4.3/index.min.js"></script>
<script type="text/javascript">

const form_submit = document.getElementById("unit-form-submit");
const statusBar = document.getElementById("status-bar");
const status = document.getElementById("status");

let uploadedFiles = 0;
let resizedFiles = 0;
let imageCount = 0;

var resize = function(file) {
    return new Promise(function(resolve, reject) {
        file.image().then(img => {
            resizedFiles++;
            statusBar.value = resizedFiles + uploadedFiles;
            status.innerHTML = "Resizing image " + resizedFiles + " of " + imageCount;
            const canvas = document.createElement('canvas')
            const ctx = canvas.getContext('2d')
            const maxWidth = 1500
            const maxHeight = 1500

            const ratio = Math.min(maxWidth / img.width, maxHeight / img.height)
            const width = img.width * ratio + .5 | 0
            const height = img.height * ratio + .5 | 0

            canvas.width = width
            canvas.height = height

            ctx.drawImage(img, 0, 0, width, height)

            canvas.toBlob(blob => {
              const resizedFile = new File([blob], file.name + ".png", file);
              resizedFile.uploadType = file.uploadType;
              resolve(resizedFile)
            })
        })
    })
}

var getSignatures = function(files) {
    return new Promise(function(resolve, reject) {
        var x = new XMLHttpRequest();
        x.responseType = 'json';

        x.onreadystatechange = function () {
            if (x.readyState === 4 && x.status === 200) {
                for (let f of files) {
                    resp = x.response;
                    f.s3Data = resp[f.name];
                    f.url = resp[f.name].url
                }
                resolve(files);
            } else if (x.readyState === 4) {
                reject(x.response);
            }
        }

        x.open("POST", "{% url 'sign-files' form.unit.slug %}", true);
        x.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        x.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        x.send(JSON.stringify({ "files": files.map(f => f.name) }));
    })
}

var uploadFile = function(file) {
    return new Promise(function(resolve, reject) {
        uploadedFiles++;
        statusBar.value = resizedFiles + uploadedFiles;
        status.innerHTML = "Uploading image " + uploadedFiles + " of " + imageCount;
        var x = new XMLHttpRequest();

        x.onreadystatechange = function() {
            if(x.readyState === 4) {
                if(x.status === 200 || x.status === 204) {
                    resolve(file);
                } else {
                    reject(x.response);
                }
            }
        }

        var postData = new FormData();
        for(key in file.s3Data.fields){
            postData.append(key, file.s3Data.fields[key]);
        }
        postData.append('file', file);

        x.open("POST", file.url, true);
        x.send(postData);
    })
}

var submitForm = function(uploadedFiles) {
    statusBar.removeAttribute("max");
    statusBar.removeAttribute("value");
    status.innerHTML = "Processing images, please wait...";

    var x = new XMLHttpRequest();

    x.onreadystatechange = function () {
        if (x.readyState === 4 && x.status === 400) {
            const formTable = document.getElementById("unit-form-table");
            formTable.innerHTML = x.responseText;
            status.innerHTML = "";
            return false;
        } else if (x.readyState === 4) {
            window.location.href = '/units/';
            return true;
        }
    }

    const formData = new FormData(document.getElementById("unit-add-image-form"));
    formData.delete("images");
    formData.delete("s3_images");
    formData.append("s3_images", uploadedFiles.map(f => f.name).join(","))

    x.open('POST', ".");
    x.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    x.send(formData);
}

form_submit.onclick = function(event) {
    form_submit.disabled = true;
    event.preventDefault();

    const imagesInput = document.getElementById("id_images");
    const images = Array.from(imagesInput.files);

    if (images.length == 0 || (images.length + {{form.current_image_count}}) > {{form.max_images}}) {
        const form = document.getElementById("unit-add-image-form")
        form.submit();
        return;
    }

    imageCount = images.length;
    statusBar.max = imageCount * 2;
    statusBar.style.display = "block";

    Promise.all(images.map(resize))
        .then(resizedFiles => getSignatures(resizedFiles))
        .then(resizedFiles => {
            Promise.all(resizedFiles.map(f => uploadFile(f)))
                .then(uploadedFiles => {
                    form_submit.disabled = submitForm(uploadedFiles);
            })
        })
}


</script>

{% endblock %}