{% extends "base.html" %}

{% load cache %}
{% load i18n %}
{% load model_strings %}

{% block title %}{% trans 'Rental Units' %}{% endblock title %}

{% block content %}

<h1>{% trans 'Your rental units' %}</h1>

<p>{% trans 'Add information about your rental units and we can help you generate letters and forms to send to your landlord.' %}</p>
<p>{% trans 'Upload pictures of your unit to document the condition of your unit to help get your security deposit back.' %}</p>

<div class="units">
    {% for u in unit_list %}
        <div class="unit content-body">
            <div class="unit-info">
                <h3><a href="{% url 'unit-detail' u.slug %}">{{ u.unit_address_1 }}</a></h3>
                {% if u.unit_address_2 or u.unit_city or u.unit_state or u.unit_zip_code %}
                    <div class="address-info">
                        {% if u.unit_address_2 %}
                            {{ u.unit_address_2 }}<br>
                        {% endif %}
                        {% if u.unit_city and u.unit_state %}
                            {{ u.unit_city }}, {{ u.unit_state }}
                        {% elif u.unit_city %}
                            {{ u.unit_city }}
                        {% elif u.unit_state %}
                            {{ u.unit_state }}
                        {% endif %}
                        {{ u.unit_zip_code }}
                    </div>
                {% endif %}
                {% cache CACHE_TIMEOUT "unit_images_pictures_together_unit_" u.id u.modified_at %}
                    {% if u.pictures %}
                        <h4>{% trans 'Pictures' %}</h4>
                        <div class="images">
                            {% for i in u.pictures %}
                                <img src="{{ i.thumbnail }}" alt="Picture uploaded {{ i.upload_time }}">
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if u.documents %}
                        <h4>{% trans 'Documents' %}</h4>
                        <div class="images">
                            {% for i in u.documents %}
                                <img src="{{ i.thumbnail }}" alt="Document uploaded {{ i.upload_time }}">
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endcache %}
            </div>

            <div class="unit-actions">
                <div class="unit-upload-images">
                    <a href="{% url 'unit-add-documents' u.slug %}" class="button">{% trans 'Add Documents' %}</a><br>
                    <a href="{% url 'unit-add-move-in-pictures' u.slug %}" class="button">{% trans 'Add Move-in Pictures' %}</a><br>
                    <a href="{% url 'unit-add-move-out-pictures' u.slug %}" class="button">{% trans 'Add Move-out Pictures' %}</a><br>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% if unit_list %}
    <a href="{% url 'unit-create' %}" class="button new-unit-button">Add another unit</a>
{% else %}
    <a href="{% url 'unit-create' %}" class="button new-unit-button">Add your first unit</a>
{% endif %}

{% endblock %}