[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = ">=1.1.19"
django = "==2.1.2"
django-debug-toolbar = "==1.10.1"
django-heroku = "*"
django-localflavor = "==2.1"
django-maintenance-mode = "==0.10.0"
django-storages = "==1.7.1"
freezegun = "*"
gunicorn = "==19.9.0"
django-phonenumber-field = "*"
phonenumbers = "*"
pillow = "==5.3.0"
psycopg2-binary = "*"
pytz = "==2018.5"

[dev-packages]
black = "==19.3b0"
coverage = "*"
codecov = "*"
freezegun = "*"
isort = "*"
mock = "*"
pre-commit = "==1.11.0"
PyHamcrest = "*"

[requires]
python_version = "3.7"
