{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Log Out' %}{% endblock title %}

{% block content %}

<div id="log-out">
    <h2>{% trans 'Log Out' %}</h2>

    <div class="content-body">
        <p>{% trans 'Would you like to log out?' %}</p>

        <form method="post">
            {% csrf_token %}
            <button>{% trans "Log Out" %}</button>
            <a href="{% url 'homepage' %}" onclick="goBack();">{% trans "Cancel" %}</a>
        </form>
    </div>
</div>

{% endblock %}