{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Rules' %}{% endblock title %}

{% block content %}
    <div class="p-5">
        <div class="pb-5">
            <a href="{%url 'homepage' %}">{% trans 'Home' %}</a> > <a href="{%url 'rules' %}">{% trans 'Rules' %}</a> > <span class="font-semibold">{{rule.title|truncatewords:5}}</span>
        </div>
        <hr class="mb-5">

        <h2 class="text-3xl lg:text-4xl text-gray-900 mb-5 font-extrabold tracking-tight text-gray-900">
        {% blocktrans %}Your landlord must provide you with{% endblocktrans %} {{ rule.title|lower }}.
        </h2>

        {% if rule.plan_description %}
            <p class="prose mb-5">{{ rule.plan_description|linebreaksbr }}</p>
        {% endif %}

        <h3 class="text-2xl lg:text-3xl leading-none font-extrabold tracking-tight text-gray-900 mb-5">{% trans 'Getting Help' %}</h3>
        <p class="prose mb-5">

            {% blocktrans %}If your landlord is not providing you with{% endblocktrans %} {{ rule.title|lower }}, {% blocktrans %}you can submit a request to have the city come inspect the home you rent. The city can fine your landlord if they do not fix the problem.{% endblocktrans %}

        </p>

        <div class="flex items-top justify-left mb-3">
            <div class="bg-green-50 text-black rounded-full w-10 h-10 flex items-center justify-center mr-2">1</div>
            <div class="mt-2 text-gray-900">
                {% blocktrans %}If you would like to use our sample letter, copy the text below{% endblocktrans %}:
            </div>
        </div>
        <div class="flex items-top justify-left mb-3">
            <textarea id="sample-letter" class="input text-align-left ml-12 w-96 h-40 form-textarea shadow" disabled>I am writing to request a property code inspector look into a potential code violation for the property located at: [YOUR ADDRESS].

I believe the property owner may be in violation of Louisville statute{{ rule.ordinance.all|pluralize }}: {{ rule.ordinance.all|join:", " }}.

Specifically, the property does not have {{ rule.title|lower }}.</textarea>
            <button class="rounded-md border-2 border-green-600 h-10 w-10 flex items-center justify-center ml-4 hover:text-white hover:bg-green-600 cursor-pointer" id="copy-button" onclick="window.app.copyTextToClipboard('sample-letter'); window.app.toggleVisibility('copy-button', true, 2000); window.app.toggleVisibility('copy-success-button', true, 2000);">
                <svg class="h-6 w-6 text-green" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                </svg>
            </button>
            <button class="rounded-md border-2 border-green-600 h-10 w-10 flex items-center justify-center ml-4 text-green-600 hidden" id="copy-success-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                </svg>
            </button>
        </div>

        <div class="flex items-top justify-left mb-3">
            <div class="bg-green-50 text-black rounded-full w-10 h-10 flex items-center justify-center mr-2">2</div>
            <div class="mt-2 text-gray-900">{% blocktrans %}Go to the city's 311 site{% endblocktrans %}: <a class="block lg:inline" href="http://iframe.publicstuff.com/#?client_id=1000113#picker-top">http://iframe.publicstuff.com/#?client_id=1000113#picker-top</a></div>
        </div>

        <div class="flex items-top justify-left mb-3">
            <div class="bg-green-50 text-black rounded-full w-10 h-10 flex items-center justify-center mr-2">3</div>
            <div class="mt-2 text-gray-900">{% blocktrans %}Search for and click "Property Maintenance Issue"{% endblocktrans %}: <img class="max-w-sm lg:max-w-lg shadow mt-2" src="{% static 'images/311-step1.jpg' %}" alt="Screenshot of 311 system, showing Property Maintenance menu item" /></div>
        </div>

        <div class="flex items-top justify-left mb-3">
            <div class="bg-green-50 text-black rounded-full w-10 h-10 flex items-center justify-center mr-2">4</div>
            <div class="mt-2 text-gray-900">{% blocktrans %}Search for and click "Interior Property Maintenance Issue"{% endblocktrans %}: <img class="max-w-sm lg:max-w-lg shadow mt-2" src="{% static 'images/311-step2.jpg' %}" alt="Screenshot of 311 system, showing Interior Property Maintenance submenu item" /></div>
        </div>

        <div class="flex items-top justify-left mb-3">
            <div class="bg-green-50 text-black rounded-full w-10 h-10 flex items-center justify-center mr-2">5</div>
            <div class="mt-2 text-gray-900">{% blocktrans %}Fill out the form (with the text you copied), including pictures, if you have any{% endblocktrans %}</div>
        </div>

        <div class="mt-5">
            <h3 class="text-2xl lg:text-3xl leading-none font-extrabold tracking-tight text-gray-900 mb-5 inline-block">{% trans 'Legal definitions' %}</h3>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block -mt-3 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="legal-definition-toggle" onclick="window.app.toggleVisibility('legal-definition'); window.app.toggleRotate('legal-definition-toggle', 180);">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
</svg>
        </div>
        <div class="hidden" id="legal-definition">
            {% for ordinance in rule.ordinance.all %}
            <h4 class="text-xl text-gray-900 mb-2">{{ ordinance.ordinance }} {{ ordinance.title }}</h4>
            <p class="prose ml-5 mb-5">{{ ordinance.legal_description|linebreaksbr }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
