{% load i18n %}

{% for d in document_list %}
    <div class="doc-name">
        <a href="{% url 'documents:document-form' d.id %}{% if next %}?next={{next}}{% endif %}">{{ d.name }}</a>
    </div>
    <p>
        {% if d.description %} {{ d.description }} {% endif %}
    </p>
{% endfor %}
<div class="doc-name">
    <a href="{% url 'documents:photos-document-form' %}{% if next %}?next={{next}}{% endif %}">{% trans 'Date-verified Photo Report'%}</a>
</div>
<p>{% trans 'Use this report to prove what your unit looked like at on a certain date. This can be usesful when you are trying to get your security deposit back.' %}</p>
<div class="doc-name">
    <a href="{% url 'documents:small-claims-document-form' %}{% if next %}?next={{next}}{% endif %}">{% trans 'Small Claims Court Form'%}</a>
</div>
<p>{% trans 'If you need to file a small claims suit in order to recover money from your landlord, we can pre-populate the small claims complaint form that you need to submit to the court.' %}</p>