{% extends "base.html" %}

{% load i18n %}
{% load model_strings %}
{% load bound_field %}

{% block title %}{{ form.name }}{{ form_name }}{% endblock title %}

{% block content %}

<h1>{{ form.name }}{{ form_name }}</h1>

<div class="content-body document-form-content">
    <form method="post" id="document-form">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <fieldset>
            <legend>{% trans "Select unit" %}</legend>
            <table>
                <tr>
                    <th>
                        <label for="{{ form.unit.id_for_label }}">{{form.unit.label}}</label>
                    </th>
                    <td>
                        {% if form.unit.errors %}
                            <ul>
                                {% for error in form.unit.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.unit }}
                        {% if form.unit.help_text %}
                            <br />{{ form.unit.help_text }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>{% trans "Your current contact info" %}</legend>
            <table>
                {% if form.sender_first_name %}
                    <tr>
                        <th>
                            <label for="{{ form.sender_first_name.id_for_label }}">{{form.sender_first_name.label}}</label>
                        </th>
                        <td>
                            {% if form.sender_first_name.errors %}
                                <ul>
                                    {% for error in form.sender_first_name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.sender_first_name }}
                            {% if form.sender_first_name.help_text %}
                                <br />{{ form.sender_first_name.help_text }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="{{ form.sender_last_name.id_for_label }}">{{form.sender_last_name.label}}</label>
                        </th>
                        <td>
                            {% if form.sender_last_name.errors %}
                                <ul>
                                    {% for error in form.sender_last_name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            {{ form.sender_last_name }}
                            {% if form.sender_last_name.help_text %}
                                <br />{{ form.sender_last_name.help_text }}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>
                        <label for="{{ form.use_unit_address.id_for_label }}">{{form.use_unit_address.label}}</label>
                    </th>
                    <td>
                        {% if form.use_unit_address.errors %}
                            <ul>
                                {% for error in form.use_unit_address.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.use_unit_address }}
                        {% if form.use_unit_address.help_text %}
                            <br />{{ form.use_unit_address.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sender-info">
                    <th>
                        <label for="{{ form.sender_address_1.id_for_label }}">{{form.sender_address_1.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_address_1.errors %}
                            <ul>
                                {% for error in form.sender_address_1.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_address_1 }}
                        {% if form.sender_address_1.help_text %}
                            <br />{{ form.sender_address_1.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sender-info">
                    <th>
                        <label for="{{ form.sender_address_2.id_for_label }}">{{form.sender_address_2.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_address_2.errors %}
                            <ul>
                                {% for error in form.sender_address_2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_address_2 }}
                        {% if form.sender_address_2.help_text %}
                            <br />{{ form.sender_address_2.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sender-info">
                    <th>
                        <label for="{{ form.sender_city.id_for_label }}">{{form.sender_city.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_city.errors %}
                            <ul>
                                {% for error in form.sender_city.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_city }}
                        {% if form.sender_city.help_text %}
                            <br />{{ form.sender_city.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sender-info">
                    <th>
                        <label for="{{ form.sender_state.id_for_label }}">{{form.sender_state.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_state.errors %}
                            <ul>
                                {% for error in form.sender_state.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_state }}
                        {% if form.sender_state.help_text %}
                            <br />{{ form.sender_state.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr class="sender-info">
                    <th>
                        <label for="{{ form.sender_zip_code.id_for_label }}">{{form.sender_zip_code.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_zip_code.errors %}
                            <ul>
                                {% for error in form.sender_zip_code.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_zip_code }}
                        {% if form.sender_zip_code.help_text %}
                            <br />{{ form.sender_zip_code.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.sender_email.id_for_label }}">{{form.sender_email.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_email.errors %}
                            <ul>
                                {% for error in form.sender_email.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_email }}
                        {% if form.sender_email.help_text %}
                            <br />{{ form.sender_email.help_text }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="{{ form.sender_phone.id_for_label }}">{{form.sender_phone.label}}</label>
                    </th>
                    <td>
                        {% if form.sender_phone.errors %}
                            <ul>
                                {% for error in form.sender_phone.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.sender_phone }}
                        {% if form.sender_phone.help_text %}
                            <br />{{ form.sender_phone.help_text }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </fieldset>
        
        {% if form.additional_fields %}
            <fieldset>
                <legend>{% trans "Additional info" %}</legend>

                <table>
                    {% for f in form.additional_fields %}
                        <tr>
                            <th>
                                <label for="{{ f.id_for_label }}">{{f.label}}</label>
                            </th>
                            <td>
                                {% if f.errors %}
                                    <ul>
                                        {% for error in f.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ f }}
                                {% if f.help_text %}
                                    <br />{{ f.help_text }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        {% endif %}


        <button id="download-pdf">{% trans "Download PDF" %}</button>
        <a href="{% url 'documents:document-list' %}">{% trans "Back to Documents" %}</a>
    </form>
    <span id="status"></span>
</div>

<script type="text/javascript">
    const useUnitAddress = document.getElementById("id_use_unit_address");

    useUnitAddress.addEventListener('change', (event) => {
        if (event.target.checked) {
            [].forEach.call(document.querySelectorAll('.sender-info'), function (e) {
                e.style.display = 'none';
            });
        } else {
            [].forEach.call(document.querySelectorAll('.sender-info'), function (e) {
                e.style.display = 'table-row';
            });
        }
    })

    const documentForm = document.getElementById("document-form");
    const downloadPdf = document.getElementById("download-pdf");

    downloadPdf.onclick = function(event) {
        for(var i=0; i < documentForm.elements.length; i++){
            if(documentForm.elements[i].value === '' && documentForm.elements[i].hasAttribute('required')){
                return;
            }
        }
        downloadPdf.disabled = true;
        documentForm.submit();
    };
</script>

{% endblock %}