{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block content %}
    <div class="bg-gray-100 p-5">
        <h1 class="text-4xl lg:text-6xl leading-none font-extrabold tracking-tight text-gray-900 mb-8 sm:mb-4">Get help with your rental unit.</h1>
        <p class="text-lg sm:text-2xl sm:leading-8 font-medium mb-5 sm:mb-5">
            If you live in Louisville, Renter Haven can help you get help when you're having problems with your rental unit.
            We will help you find problems that your landlord is required by law to fix, and we will help you submit these problems to the right city agency.
        </p>
    </div>

    <div class="p-5">
        <h2 class="text-2xl lg:text-4xl leading-none font-extrabold tracking-tight text-gray-900 mb-4 lg:mb-5 mt-4 lg:mt-8">
            Rules your landlord must follow
        </h2>
        <p class="prose mb-2">
            Your landlord must follow rules set by the City of Louisville. These rules exist to make sure rental properties are safe and healthy places to live.
        </p>
        <p class="prose">
            We can show you the rules your landlord should be following and help you get help if they are not.
        </p>
        <a href="#" class="group w-96 border-green-600 border-2 rounded p-3 flex items-center justify-center mt-5 mb-5 hover:text-white hover:bg-green-600">
            <span>See the rules your landlord must follow</span>
            <span class="pl-5 text-green-600 group-hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
            </span>
        </a>

        <h2 class="text-2xl lg:text-4xl leading-none font-extrabold tracking-tight text-gray-900 mb-4 lg:mb-5 mt-6 lg:mt-8">
            Getting help
        </h2>
        <p class="prose">
            If your landlord isn't following the rules, we can help you report violations to the city department that enforces the rules, Codes &amp; Regulations.
        </p>
        <a href="#" class="group w-96 border-green-600 border-2 rounded p-3 flex items-center justify-center mt-5 mb-5 hover:text-white hover:bg-green-600">
            <span>Learn how to report a rules violation</span>
            <span class="pl-5 text-green-600 group-hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
            </span>
        </a>
    </div>

{% endblock %}
