/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END CSS Reset */

$font-stack: Helvetica, sans-serif;
$primary-color-9: #196b4b;
$primary-color-8: #1f805a;
$primary-color-7: #238c62;
$primary-color-6: #25996a;
$primary-color-5: #50ba8f;
$primary-color-4: #69d1a7;
$primary-color-3: #82d9b6;
$primary-color-2: #a5e8cd;
$primary-color-1: #c5e8da;

$neutral-color-7: #212934;
$neutral-color-6: #5f6b79;
$neutral-color-5: #8290a0;
$neutral-color-4: #9da7af;
$neutral-color-3: #cfd6de;
$neutral-color-2: #d4d6d9;
$neutral-color-1: #f8f9fa;

$red-7: #60191a;
$red-6: #871c1f;
$red-5: #bc2226;
$red-4: #da3236;
$red-3: #e26567;
$red-2: #f3aaab;
$red-1: #fce8e8;

$yellow-7: #b54718;
$yellow-6: #8b6c27;
$yellow-5: #c9a446;
$yellow-4: #f3c96c;
$yellow-3: #f9e1a3;
$yellow-2: #fdf3d8;
$yellow-1: #ffccf4;

$green-7: #17513a;
$green-6: #1f7643;
$green-5: #2d9c5a;
$green-4: #40c075;
$green-3: #78d8a1;
$green-2: #aaedc2;
$green-1: #e4fcec;

$screen-tiny-min: 374px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin tiny {
  @media (max-width: #{$screen-tiny-min}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

html {
  font-size: 16px;

  @include tiny {
    font-size: 80%;
  }
}

body {
  //   font-family: "Cabin", Sans-Serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $neutral-color-7;
  padding: 10px;
  position: relative;
  margin: 0;
  min-height: 95vh;
  display: grid;
  grid-template-areas: 'header header'
                       'nav main'
                       'footer footer';
  grid-template-columns: minmax(auto, 12em) 5fr;
  grid-template-rows: auto 1fr auto;
}

a {
  color: $neutral-color-7;
}
p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 1rem 0 1rem;
  line-height: 1.15;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
  color: $neutral-color-7;
}

h4 {
  font-size: 1.563em;
  color: $neutral-color-7;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

strong {
  font-weight: 500;
}

small,
.text_small {
  font-size: 0.8em;
}

nav.toggle-show-bg {
  height: 100%;
  transition: 0.2s ease-in-out;
}

nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $neutral-color-2;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  background-color: $primary-color-7;
  padding-top: 25px;
  min-height: 35px;
  letter-spacing: 1px;
  white-space: nowrap;
  height: 40px;
  overflow: hidden;

  #logo {
    img {
      margin-top: -10px;
      height: 40px;
    }
    margin-right: 25px;
    @include md {
      padding-right: 25px;
      align-self: flex-start;
      display: initial;
      position: absolute;
      cursor: pointer;
    }
  }

  .toggle {
    display: none;

    @include md {
      margin-top: -5px;
      fill: $neutral-color-2;
      margin-left: -25px;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }
  }

  @include lg {
    font-size: 14px;
    height: 35px;
  }

  @include md {
    flex-direction: column;
    align-items: center;
    justify-content: start;

    ul:first-of-type {
      margin-top: 20px;
    }

    ul:last-of-type {
      margin-bottom: 20px;
    }
  }

  a {
    color: $neutral-color-1;
    text-decoration: none;
  }

  a.active {
    font-weight: 500;
    border-bottom: 3px solid $neutral-color-1;
    padding-bottom: 5px;
  }

  a.active:hover {
    text-decoration: none;
  }

  .nav-items {
    margin-right: 20px;
    @include md {
      display: none;
    }
  }

  .nav-right {
    margin-left: auto;
    @include md {
      margin-left: 0;
    }
  }

  .toggle-show {
    display: block;
  }

  ul {
    margin: 0;
    margin-top: -2px;
    padding: 0;
    list-style: none;

    @include lg {
      margin-top: 0;
    }

    li:not(:last-child) {
      margin-right: 20px;
    }
  }

  ul li {
    display: inline-block;
    text-align: center;

    @include md {
      display: block;
      width: 100%;
      margin-top: 20px;
    }
  }
}

#container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95vw;
  margin-bottom: 6em;

  .content {
    max-width: 700px;
    flex-direction: column;
  }
}

footer {
    grid-area: footer;
    text-align: center;
    ul li {
        display: inline-block;
        margin: 0 15px;
    }
}

#index {
    align-items: center;
    justify-content: center;
    text-align: center;

    .logo {
        margin: 0 auto;
        margin-bottom: 15px;
        width: 35%;
        min-width: 150px;
        display: block;
    }

    .button {
        margin-top: 5px;
    }
}

#get-started {
    h5 {
        color: $neutral-color-7;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 1em;
        margin-bottom: 5px;
    }

    ul {
        margin: 0;

        h5 {
            margin: 0 0 10px 0;
        }
    }

    .unit {
        border-bottom: 2px solid $neutral-color-2;
    }

    .unit:last-of-type {
        border-bottom: 0;
    }
}

.check {
    color: green;
}

ul.messages {
  position: fixed;
  z-index: 100;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  text-align: center;

  li {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
  }

  li.success {
    border-color: $green-5;
    background-color: $green-2;
    color: $green-7;
  }

  li.info {
    border-color: $yellow-5;
    background-color: $yellow-2;
    color: $yellow-7;
  }

  li.warning,
  li.error {
    border-color: $red-5;
    background-color: $red-2;
    color: $red-7;
  }

  animation: li 0.5s 1;
  -webkit-animation: li 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay: 5s;
  -webkit-animation-delay: 5s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;

  @keyframes li {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes li {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

h2 {
  color: $neutral-color-7;
  font-size: 200%;
  margin-bottom: 15px;
}

.units {
  border-radius: 7px;

  .unit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include md {
      flex-direction: column;
      .unit-actions {
        margin-bottom: 15px;
      }
    }

    .images img {
      width: 100px;

      @include md {
        width: 90px;
      }

      @include sm {
        width: 75px;
      }
    }
  }
}

.content-body {
  background-color: $neutral-color-1;
  border: $neutral-color-1;
  border-radius: 5px;
  max-width: 700px;
  padding: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  color: $neutral-color-6;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.unit {
  .unit-info {
    max-width: 500px;
    min-width: 400px;
    margin-right: 50px;

    @include md {
      margin-right: 0;
      min-width: 0;
      min-width: 250px;
    }
  }

  .address-info {
    margin-bottom: 15px;
  }

  .images {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
    }
  }

  .images img {
    display: inline;
    border: 1px solid $neutral-color-3;
    margin-bottom: 15px;

    @include md {
      width: 90px;
    }

    @include sm {
      width: 75px;
    }
  }

  .unit-actions {
    margin: 1rem 0 1rem;
  }

  .unit-actions a {
    white-space: nowrap;
    display: inline-block;
    color: $neutral-color-1;
    text-decoration: none;
    background-color: $primary-color-7;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  a.unit-edit {
    white-space: nowrap;
    display: inline-block;
    color: $neutral-color-1;
    text-decoration: none;
    background-color: $primary-color-7;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    color: $primary-color-5;
    border: 2px solid $primary-color-5;
  }

  .unit-actions a.unit-delete {
    background-color: $red-5;
  }
}

.unit-form {
  min-width: 600px;
  @include md {
    min-width: 250px;
  }

  fieldset legend {
    font-weight: 700;
    font-size: 1.25em;
  }

  fieldset .description {
    display: block;
    margin-bottom: 10px;
    font-size: 85%;
    font-style: italic;
  }

  .unit-form-table th {
    min-width: 200px;
  }
}

.upload-pictures-sub {
  font-size: 85%;
  font-style: italic;
  display: block;
  margin-top: -4px;
  color: $neutral-color-5;
}

button,
.button {
  white-space: nowrap;
  display: inline-block;
  color: $neutral-color-1;
  text-decoration: none;
  background-color: $primary-color-7;
  border-color: $primary-color-7;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  border-style: none;
  margin-bottom: 5px;
  font-size: 120%;
}

button:active,
a.button:active {
  background-color: $primary-color-9;
  border-color: $primary-color-9;
}

button:disabled,
.button:disabled {
  color: $neutral-color-7;
  background-color: $neutral-color-3;
  border-color: $neutral-color-3;
}

.delete {
  color: $red-7;
  background-color: $red-2;
  border-color: $red-2;
}

button.delete:active,
a.delete:active {
  background-color: $red-4;
  border-color: $red-4;
}

.new-unit-button {
  font-size: 125%;
}

.unit-delete {
  max-width: 500px;
  background-color: $neutral-color-1;
  border-top: 3px solid $red-5;
  border-radius: 3px;

  em {
    font-weight: bold;
  }

  h2 {
    font-size: 130%;
    padding: 10px 20px 0 20px;
  }

  p {
    margin: 10px 20px 10px 20px;
    color: $neutral-color-6;
  }

  #buttons {
    display: flex;
    justify-content: flex-end;
    background-color: $neutral-color-2;
    padding: 5px 20px 5px 20px;

    #unit-delete-cancel {
      margin: 7px 15px 0 0;
    }

    #unit-delete-cancel a {
      color: $neutral-color-7;
      font-size: 105%;
    }
  }
}

table th {
  text-align: left;
}

form table {
  th {
    display: block;
  }

  tr.required th {
    font-weight: 500;
  }

  td {
    padding: 5px;
    max-width: 300px;

    ul.errorlist {
      li {
        color: $red-5;
        list-style-type: none;
        margin-left: 0 !important;
      }
    }
  }

  tr.error input,
  tr.error select {
    border: 2px $red-5 solid !important;
  }

  @include sm {
    td {
      display: block;
    }
  }

  td input {
    font-size: 16px;
    line-height: 30px;
    border-radius: 3px;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    padding-left: 5px;
    min-width: 230px;
  }

  td input[required],
  td textarea[required],
  .sender-info input {
    border: 2px solid black;
  }

  td select {
    display: block;
    font-size: 16px;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  td span.helptext {
    font-style: italic;
    font-size: 90%;
  }

  margin-bottom: 2em;
}

#djDebugToolbarHandle {
  margin-top: 50px !important;
}

#unit-add-image {
  min-width: 600px;
  @include md {
    min-width: 250px;
  }
  .unit {
    @include tiny {
      padding: 0;
    }
  }

  td input[type="file"] {
    border: none;
    padding-top: 0;
    line-height: 16px;
  }

  @include md {
    td {
      display: block;
      margin-left: -18px;
    }
  }

  @include md {
    max-width: 450px;
  }

  td input {
    font-size: 14px;
  }

  #status-bar {
    display: none;
  }

  // Would be cool to style, but this is pretty hacky
  //     progress {
  //         -webkit-appearance: none;
  //         -moz-appearance: none;
  //         appearance: none;
  //     }
  //
  //     progress::-webkit-progress-bar {
  //
  //
  //         border-radius: 2px;
  //         background-size: 35px 20px, 100% 100%, 100% 100%;
  //     }
  //
  // //     progress::-webkit-progress-bar  {
  // //         background-color: $neutral-color-4;
  // //         border-radius: 50px;
  // //         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  // //     }
  //
  //     progress::-webkit-progress-value {
  //         background:
  //            -webkit-linear-gradient(-45deg,
  //                                    transparent 33%, rgba(0, 0, 0, .1) 33%,
  //                                    rgba(0,0, 0, .1) 66%, transparent 66%),
  //            -webkit-linear-gradient(left, $primary-color-5, $primary-color-5);
  //         background-size: 100% 100%;
  //         -webkit-animation: animateStripes 5s infinite;
  //         animation: animateStripes 5s infinite;
  //         -webkit-animation-direction: normal;
  //         animation-direction: normal
  //     }
  //
  //     @keyframes animateStripes {
  //        from { background-position: -100% 0; }
  // 	    to { background-position: 100% 0; }
  //     }

  #remaining {
    display: block;
    font-size: 90%;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  #remaining-error {
    display: block;
    font-size: 120%;
    margin-bottom: 20px;
  }

  #multi-instructions {
    display: block;
    font-style: italic;
    font-size: 80%;
    margin-top: -30px;
    margin-bottom: 20px;
  }

  #unit-add-image-form {
    ul {
      list-style-type: circle;
      margin-top: -15px;
      li {
        margin-left: 35px;
      }
    }

    ul.errorlist {
      margin-left: -5px;

      @include md {
        margin-left: 12px;
      }
    }
  }
}

#log-in form {
  table {
    td {
      display: block;
      padding-left: 0;
    }
    margin-bottom: 5px;
  }
}

.document-form-content {
  min-width: 600px;
  @include md {
    min-width: 250px;
  }

  fieldset legend {
    font-weight: 600;
    font-size: 145%;
    margin-bottom: 5px;
  }
}

#log-in,
#log-out {
  min-width: 600px;
  @include md {
    min-width: 250px;
  }
}
